<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-danger" href="/admin/articles/new" >Criar novo Artigo</a>
    <hr>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>categoria</th>
                <th>Acoes</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>

                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.categoryId %></td>
                    <td>

                        <form method="POST" action="/articles/delete" style="display: inline;"  onsubmit="confirmDelete(event, this)" >
                            <input type="hidden" name="id" value="<%= article.id %>" >
                            <button class="btn btn-danger"><strong>X</strong></button>
                        </form>
                    </td>
                </tr>

           <% }) %>
        </tbody>

    </table>

</div>

<%- include ('../../partials/footer.ejs') %>

<script>
    function confirmDelete(event, form) {
        event.preventDefault()
        var decisao = confirm("Voce deseja deletar esse artigo?")

        if (decisao) {
            form.submit();
        }
    }
</script>